<h1>Talk To Us!!</h1>
<p> Your Ideas, Our Expertise - A perfect Match!!!</p>

<div class="contact-wrapper">

    <div class="contact-form">
        <form>
            <label for="name">Name:</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="email">Email:</label>
            <input type="text" id="lname" name="lastname" placeholder="example.com">

            <label for="country">Select Service:</label>
            <select id="job" name="job">
                <option value="frontend">Front End Development</option>
                <option value="backend">Back End Development</option>
                <option value="cloud">Cloud and Database</option>
                <option value="it">IT Consultancy and Support</option>
                <option value="apps">Mobile and Web Apps</option>
                <option value="network">Network & Security</option>
            </select>


            <label for="textarea">Comment:</label>
            <textarea placeholder="Breif Description/Comments..."></textarea>

            
                <button (click)="onSubmit()" class="btn">Submit</button>
          

        </form>

    </div>

</div>

<div class="footer-bottom">
    <p>&copy; 2025 - Kamaso Bits Inc. All rights reserved.</p>
</div>