<h1>Talk To Us!!</h1>

<div class="contact-page">

    <div class="contact-form">

        <div class="details">
            <input class="name" type="text" placeholder="Enter Name">
            <input class="email" type="text" type="email" placeholder="your.email@example.com">



            <input class="textarea" type="text" placeholder="Leave Comment">
        </div>


        <button class="btn">Submit</button>
    </div>

</div>

<div class="footer-bottom">
    <p>&copy; 2025 - Kamaso Bits Inc. All rights reserved.</p>
</div>