

<main class="container">
    <section class="section about-story">
        <h2>About Us</h2>
        <div class="content-wrapper">
            <div class="text-content">
                <p>
                    Kamaso Bits Inc. was founded on the principle of Innovation and Continuous Improvement, prioritizing
                    customer success. What began as a passionate endeavor has blossomed into a thriving organization
                    dedicated to great IT Service delivery.
                </p>
                <p>
                    Over the years, we've consistently adapted to industry changes, embraced technological advancements,
                    and fostered a culture of continuous improvement.
                </p>
                 <p>
                   Working with us is a smart investment in your company success. Oour expert IT solutions boost effeciency,
                   enhance security, reduce downtime and support your growth with dependable, foward thinking technology
                </p>
            </div>
            <div class="image-content">
                <img src="assets/images/aboutus.jpg" alt="Our Story Image">
            </div>
        </div>
    </section>

    <section class="section our-values">
        <h2>Our Core Values</h2>
        <div class="values-grid">
            
            <div class="value-item">
                <i class="fas fa-handshake icon"></i>
                <h3>Integrity</h3>
                <p>Upholding the highest standards of honesty and ethical conduct in all our dealings.</p>
            </div>

            <div class="value-item">
                <i class="fas fa-lightbulb icon"></i>
                <h3>Innovation</h3>
                <p>Constantly seeking new and better ways to solve problems and create value for our clients.</p>
            </div>
            <div class="value-item">
                <i class="fas fa-users icon"></i>
                <h3>Collaboration</h3>
                <p>Working together, internally and with clients, to achieve shared goals and foster mutual growth.</p>
            </div>
            <div class="value-item">
                <i class="fas fa-award icon"></i>
                <h3>Excellence</h3>
                <p>Committed to delivering exceptional quality and exceeding expectations in every aspect of our work.
                </p>
            </div>
        </div>
    </section>

  