<div class="navbar">

    <nav>

        <h2 routerLink="/">Kamaso-Bits</h2>

        <ul>
            <li class="li"><a class="linktext" routerLinkActive routerLink="packages">Services</a></li>
            <li class="li"><a class="linktext" routerLinkActive routerLink="about">About</a> </li>
            <li class="li"><a class="linktext" routerLinkActive routerLink="projects">Projects</a></li>
            <li class="li"><a class="linktext" routerLinkActive routerLink="contact">Contact</a></li>
        </ul>

    </nav>

</div>