<nav class="navbar">

    <!-- Logo -->
    <h2 routerLink="/">Kamaso-Bits</h2>


    <!-- Hamburger Icon For small Screens -->
    <div class="hamburger" (click)="toggleMenu()" [class.open]="menuOpen">

        <div class="bar"></div>
        <div class="bar"></div>
        <div class="bar"></div>

    </div>


    <!-- Menu Links -->
    <ul [class.active]="menuOpen" class="nav-links">
        <li><a routerLinkActive routerLink="packages">Services</a></li>
        <li><a routerLinkActive routerLink="about">About</a> </li>
        <li><a routerLinkActive routerLink="projects">Projects</a></li>
        <li><a routerLinkActive routerLink="contact">Contact</a></li>
    </ul>

</nav>