@import url(https://fonts.googleapis.com/css2?family=Oldenburg);
@import url(https://fonts.googleapis.com/css2?family=Playball);


.details-background {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url('/assets/images/comp1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  width: 100%;
  min-height: 80vh;
  height: auto;
  box-sizing: border-box;
  border-radius: 20px;
  font-size: 30px;
  font-family: 'Oldenburg';
  
}

.details {
  max-width: 1000px;
  width: 100%;
  padding: 1rem;
  text-align: center;
  color: #73dbdf;
  position: relative;
  z-index: 1;

}

h2 {
  font-size: 35px;
  font-weight: bold;
  font-family: Playball;
  color: #c03c3c;
}

.btn {
  width: 150px;
  height: 50px;
  color: #000000;
  font-size: 20px;
  font-family: cursive;
  border-radius: 20px 30px;
  border-color: aqua;
  margin-top: 50px;
  text-align: center;
  cursor: pointer;
}

.btn:hover {
  color: #420642;
  background-color: #b6f157;
}

.wave-text span {
  display: inline-block;
  font-size: 3rem;
  color: #1a0204;
  animation: wave 2s ease-in-out infinite;
}

.wave-text span:nth-child(1) {
  animation-delay: 0s;
}

.wave-text span:nth-child(2) {
  animation-delay: 0.2s;
}

.wave-text span:nth-child(3) {
  animation-delay: 0.4s;
}

.wave-text span:nth-child(4) {
  animation-delay: 0.6s;
}

.wave-text span:nth-child(5) {
  animation-delay: 0.8s;
}

.wave-text span:nth-child(6) {
  animation-delay: 1.0s;
}

.wave-text span:nth-child(7) {
  animation-delay: 1.2s;
}

.wave-text span:nth-child(8) {
  animation-delay: 1.4s;
}

.wave-text span:nth-child(9) {
  animation-delay: 1.6s;
}

.wave-text span:nth-child(10) {
  animation-delay: 1.8s;
}

.wave-text span:nth-child(11) {
  animation-delay: 2.0s;
}

.wave-text span:nth-child(12) {
  animation-delay: 2.2s;
}

.wave-text span:nth-child(13) {
  animation-delay: 2.4s;
}

@keyframes wave {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }
}

.cursor {
  display: inline-block;
  position: relative;
  width: 25em;
  margin: 0 auto;
  border-right: 2px solid rgba(88, 197, 66, 0.75);
  font-size: 20px;
  text-align: center;
  white-space: nowrap;
  overflow: hidden;
  transform: translateY(-50%);
}

/* Animation */
.typewriter-animation {
   color: #f8e321;
  animation:
    typewriter 5s steps(50) 1s 1 normal both,
    blinkingCursor 500ms steps(50) infinite normal;
}

@keyframes typewriter {
  from {
    width: 0;
  }

  to {
    width: 46%;
  }
}

@keyframes blinkingCursor {
  from {
    border-right-color: rgba(65, 209, 22, 0.75);
  }

  to {
    border-right-color: transparent;
  }
}


/* Responsive Design */

@media (max-width: 992px) {

  .wave-text {
    font-size: 2.8rem;
  }

  .typewriter-animation {
    font-size: 1.1rem;
  }

  h2 {
    font-size: 1.3rem;
  }

  .btn {
    font-size: 0.95rem;
  }
}

@media (max-width: 768px) {
  .wave-container {
    font-size: 1.5rem;
  }

  .wave-text span {
    font-size: 1.8rem;
    color: #1a0204;
  }

  .typewriter-animation {
    font-size: 0.75rem;
    color: #f8e321;
  }

  h2 {
    font-size: 1.8rem;
    color: #c03c3c;

  }

  .btn {
    width: 100%;
    max-width: 250px;
  }
}

@media (max-width: 480px) {
  .details-background{
    min-height: 30vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .wave-container {
    font-size: 1.5rem;
  }

  .wave-text span {
    font-size: 1.4rem;
    color: #1a0204;
  }

  .typewriter-animation {
    font-size: 0.3rem;
   color: #f8e321;

  }

  h2 {
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 1px;
    color: #c03c3c;
  }

  .btn {
    width: 130px;
    height: 50px;
    margin-bottom: 1px;
    padding: 0.6rem 1.2rem;
    font-size: 0.9rem;
  }
}