@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css2?family=Protest+Revolution);
@import url(https://fonts.googleapis.com/css2?family=Agbalumo);

.projects-container {

    width: auto;
    height: auto;
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.projects {
    max-width: auto;

}

h1 {
    text-align: center;
    font-family: 'Kaushan Script';
}

h2 {
    text-align: center;
    font-size: 30px;
    font-family: 'Agbalumo';
}

p {
    display: flex;
    font-size: 30px;
    font-family: 'Protest Revolution';
}

hr {
    width: 70%;
    color: rgb(112, 46, 3);
}

.tech-stack-item {
    display: flex;
    justify-content: center;
    grid-template-rows: repeat(1, 1fr);
    padding-bottom: 50px;
    gap: 1rem;
}

.tech-stack-item img {
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.tech-stack-item img:hover {
    transform: scale(1.2);
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
}

@media (max-width: 768px) {
    .tech-stack-item {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, auto);
        margin-left: 20px;
        
      
    }


}