<div class="projects-container">

    <h1>Projects And Collaborations</h1>

    <div class="projects">
        <marquee behavior="alternate" direction="left">
            <p>Under Construction!!<i class="fa-solid fa-person-digging"></i> </p>
        </marquee>
    </div>


    <h2>Tech Stack </h2>

    <div class="tech-stack-item">
      

        <img src="/assets/images/htmlIcon.jpg" alt="html">
        <img src="/assets/images/cssIcon.png" alt="css">
        <img src="/assets/images/angularIcon.png" alt="angular">
        <img src="/assets/images/springIcon.png" alt="spring">
        <img src="/assets/images/sqlIcon.jpg" alt="MySQL">
        <img src="/assets/images/postgresqlIcon.png" alt="PostgreSQL">
        <img src="/assets/images/javaIcon.png" alt="Java">
        <img src="/assets/images/typescriptIcon.png" alt="Typescript">
        <img src="/assets/images/flutterIcon.png" alt="Flutter">
    </div>

</div>