@import url(https://fonts.googleapis.com/css2?family=Kaushan+Script);
@import url(https://fonts.googleapis.com/css2?family=Protest+Revolution);
@import url(https://fonts.googleapis.com/css2?family=Ribeye+Marrow);

.projects{
    max-width: auto;
    
}
h1{
    text-align: center;
    font-family: 'Kaushan Script';
}

h2{
    text-align: center;
    font-size: 30px;
    font-family: 'Ribeye Marrow';
}

p{
    display: flex;
    font-size: 30px;
    font-family: 'Protest Revolution';
}

hr{
    width: 70%;
    color: rgb(2, 6, 8);
}

.tech-stack{
    display: flex;
    justify-content: space-between;
}